!!!
%html
  %head
    %title Angelhack
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'header'
    %div.container
      %div.row
        %div.span12
          - if flash.present?
            - flash.each do |key, message|
              - case key
              - when :success
                %p.alert{class: 'alert-success'}
                  = message
              - when :notice
                %p.alert{class: 'alert-success'}
                  = message
              - when :info
                %p.alert{class: 'alert-info'}
                  = message
              - else
                %p.alert
                  = message
          = yield
<<<<<<< HEAD
=======
    = yield :extra_js
>>>>>>> 2df1aa04af652e875fde6eae8d8de94dec53037c
